* {
    box-sizing: border-box;
    margin: 0;
}

#page-wrapper{
    width: 80vw;
    margin: 0 auto;
}

body {
    font-family: Arial;
    background-color: #393f47;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #616b79;
    border: 3px solid #45a049;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);;
    border-radius: 10px;
    padding: 1%;
    margin-top: 1%;
    text-align: center;
}

#button-container {
    background-color: #616b79;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px auto;
    border: 3px solid #45a049;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);;
    border-radius: 10px;
    width: 50%;
    padding: 20px 0%;
}

#button1 {
    background-color: #e64946;
    border: 1px solid #000000;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1.5em auto 0;
    cursor: pointer;

}
#button1:hover {
    background-color: #e91c18;
}

#button2 {
    background-color: #2f43d8;
    border: 1px solid #000000;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1.5em auto 0;
    cursor: pointer;

}
#button2:hover {
    background-color: #1e34db;
}

#button3 {
    background-color: #dba33b;
    border: 1px solid #000000;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1.5em auto 0;
    cursor: pointer;

}
#button3:hover {
    background-color: #da971c;
}